<div class="trips">
	<div class="introduction" *ngIf="(selectedPerson | keyvalue)?.length === 0">
		<h3>Välkommen!</h3>
		<p>Klicka på en av personerna i listan till vänster för att komma igång.</p>
	</div>
	<div class="trips-person">
		<h1><fa-icon [icon]="selectedPerson.gender"></fa-icon> {{ selectedPerson.firstName }} {{ selectedPerson.lastName }}</h1>
		<p *ngFor="let email of selectedPerson.emails">{{ email }}</p>
	</div>
	<div class="trip" *ngFor="let trip of trips">
		<h2>{{ trip.title }}</h2>
		<p>{{ trip.date }}</p>
		<h3>{{ trip.description }}</h3>
		<div class="companions">
			<p>{{ (trip.companions.length === 0) ? '' : 'w/ ' }}</p>
			<p class="companion" *ngFor="let companion of trip.companions; let isLast = last"> {{ companion }}{{ isLast ? '' : ', ' }}</p>
		</div>
	</div>
	<div class="error" *ngIf="(selectedPerson | keyvalue)?.length !== 0 && trips.length === 0">
		<p>Denna person har inga resor sparade.</p>
	</div>
</div>
