.sidebar {
	height: 100vh;
	width: max-content;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	background-color: white;
	overflow-y: auto;
}

.sidebar tr {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 5px 10px;
}

.sidebar .list-items td {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	text-transform: uppercase;
}

.sidebar tr:nth-child(2n) {
	background-color: lightblue;
}

.sidebar .list-items:hover {
	transition-duration: 0.4s;
	background-color: lightgray;
	cursor: pointer;
}

.sidebar .select-buttons {
	display: flex;
	flex-direction: column;
	margin: 6px 0px;
}

.sidebar button {
	margin: 2px 0px;
	padding: 10px 15px;
	outline: none;
	border-radius: 2px;
	box-shadow: grey;
	transition-duration: 0.4s;
}

.sidebar button:hover {
	background-color: white;
}

.sidebar .next {
	border: 1px solid gray;
	background-color: lightblue;
}

.sidebar .previous {
	border: 1px solid gray;
	background-color: lightgreen;
}
